__pycache__/
*.pyc
.venv/
venv/
instance/
.git/
.gitignore
build/
dist/
*.egg-info
*.sqlite3
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
instance/laundry.db
venv/
nohup.out
laundry.db
.env
.env.*
.git
.gitignore
*.sqlite3
*.db
node_modules

# Editor files
.vscode
.idea
